@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

.App {
	background-image: url('https://images.unsplash.com/photo-1548586196-6fe665a5c1f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2775&q=80');
	background-size: cover;
	display: flex;
	flex-direction: column;
	font-family: 'Nunito', sans-serif;
	height: 100vh;
}

.App_information {
	display: flex;
	flex: 1;
	align-items: center;
	padding-left: 40px;
	background-color: white;
	-webkit-clip-path: circle(81% at 0% 50%);
	clip-path: circle(81% at 0% 50%);
}
.App_mainText {
	width: 500px;
}
.App_mainText_heading {
	font-size: 36px;
	margin-bottom: 8px;
}
.App_mainText_heading span {
	color: #28b8ca;
}
.App_mainText_subText {
	font-size: 18px;
	margin-bottom: 20px;
}

.App_buttonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 120px;
	background-color: #31c4d7;
	border-radius: 40px;
}

.App_buttonContainer p {
	color: white;
}
